/* *{
    margin:0;
    padding:0;
} */
.frame {
    height: 80vh;
    width: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
    border: 2px solid #FFFFFF;
    overflow: auto;
    box-sizing: border-box;
    backdrop-filter: blur(40px);
}
.frameQuote{
    margin-right:1.5rem;
}
@media only screen and (max-width:600px) {
    .quote{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .itemQuote{
        margin-bottom: 5rem;
    }
    .frameQuote{
        margin-right:0;
        
    }
    .addQuote{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}