   <div class="d-flex justify-content-end">
            <p> ~ {{descauthor}}</p>

        </div>
        <div class="d-flex mb-2">
            <img src="../../assets/user.png" class="user mx-2" alt="">
            <p class="text-center my-2 username">{{desceditor}}</p>
        </div>
        <div class="d-flex">
            <img src="../../assets/like.svg" class=" mx-2" alt="">
            <p class="my-2 ">0</p>
            <img src="../../assets/dislike.svg" class=" mt-2 mx-2" alt="">
            <p class="my-2">0</p>
        </div>