<div class="bgColor ">
    <div class="overlay">
        <div class="d-flex justify-content-center ">
            <app-header class="headertext mb-3"></app-header>
        </div>
            <!-- <div> -->
                <!-- <app-card-frame [ItemsQuote]="items"></app-card-frame> -->
                <app-card-frame ></app-card-frame>

            <!-- </div> -->
            <!-- <div> -->
                <!-- <app-add-quote (newQuote)="AddnewQuote($event)"></app-add-quote> -->

            <!-- </div> -->

    </div>

</div>