            * {
                margin: 0;
                padding: 0;
            }
            
           
            /* .overlay {
            background: #000000;
            mix-blend-mode: overlay;
            height: 100vh;
            opacity: 0.5;
            z-index: -1;
        } */
            
            * {
                margin: 0;
                padding: 0;
            }
            
            .headertext {
                color: #003049;
                letter-spacing: 5px;
            }
            /* You can add global styles to this file, and also import other style files */