<div class="container  d-flex ">
    <form class="formBorder p-5" #loginForm="ngForm"  (ngSubmit)="onSubmit(loginForm)">
        <div class="d-flex flex-column form-group">
            <div class="mb-3">
                <textarea class="areaCurve bg-transparent form-control" [(ngModel)]="quoteModel.quote" name="quote" id="" cols="50" rows="7" placeholder="Enter Quote"></textarea>

            </div>
            <div class="mb-3">
                <input class="inputCurve editor bg-transparent p-2 form-control" [(ngModel)]="quoteModel.author" name="author" type="text " placeholder="Enter the name of the author " required>
                <!-- <span class="form-error" *ngIf="!quoteModel.valid">
                    Please fill all the fields to activate the submit button
                  </span> -->
            </div>
            <div class="mb-3 ">
                <input class="inputCurve editor bg-transparent p-2  " type="text" [(ngModel)]="quoteModel.editor" name="editor" placeholder="Enter the name of the editor ">

            </div>
            <div class=" d-flex justify-content-center mt-2 ">
                <button class="btn btn-primary" type="submit" >Submit</button>

            </div>
        </div>
    </form>
</div>