<div class="container  d-flex ">
    <form class="formBorder p-5">
        <div class="d-flex flex-column">
            <div class="mb-3">
                <textarea class="areaCurve bg-transparent" name="" id="" cols="50" rows="7" placeholder="Enter Quote"></textarea>

            </div>
            <div class="mb-3"> <input class="inputCurve bg-transparent p-2" type="text" placeholder="Enter the name of the author">
            </div>
            <div class="mb-3">
                <input class="inputCurve bg-transparent p-2" type="text" placeholder="Enter the name of the editor">

            </div>
            <div class=" d-flex justify-content-center mt-2 ">
                <button class="btn btn-primary">Submit</button>

            </div>
        </div>
    </form>
</div>